* {
  font-family: Georgia, Garamond, serif;
}

body {
  background-color: #b6371e;
  box-sizing: border-box;
  width: 1000px;
}

.name {
  font-weight: 700;
  text-align: center;
  text-decoration: #008000 wavy underline;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border-color: #8055ff;
  border-style: ridge;
  border-width: 10px;
  max-height: 600px;
  max-width: 600px;
  object-fit: cover;
}

h1, h2, .description, .steps, .ingredients {
  color: #271d01;
}

h2 {
  text-align: center;
}

.pagelist {
  display: table;
  color: white;
  background-color: #008000;
  margin: 0 auto;
  padding: 30px 60px;
  border: 8px #ffdd33;
  border-style: ridge;
  border-radius: 20px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

a {
  color: orange;
}

a:hover {
  color: #5b146b;
}

.description, .steps {
  background-color: #091f99;
  color: #ffffff;
  margin: 0 150px;
  padding: 30px 60px;
  border: 8px;
  border-style: groove;
}

.ingredients {
  display: table;
  width: auto;
  background-color: orange;
  margin: 0 auto;
  padding: 15px 30px;
  border: 5px black;
  border-style: dotted;
  text-align: left;
}

.pagelist li {
  margin: 30px;
}

ul li {
  margin-bottom: 5px;
}

ol li {
  margin-bottom: 20px;
}